<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About College</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>
  <ul>
    <li><a href="/home.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#" onclick="alert('Are you sure want to admit');">Admission</a></li>
    <li><a href="#">FAQ</a></li>
    <li style="float:right"><a class="active" href="#">Logout</a></li>
  </ul>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Here some texts</p>
        <p>Some other text here</p>
      </div>

      <h2 style="text-align:center">Our Faculty</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <h3>Put image here</h3>
            <div class="container">
              <h2>Dr.Raj</h2>
              <p class="title">Principal</p>
              <p>Dr.Raj is the principal of our college</p>
              <p>dr.raj@gamil.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Put image here</h3>
            <div class="container">
              <h2>Rajech</h2>
              <p class="title">Vice Principal</p>
              <p>Rajesh is an expert in programming</p>
              <p>rajesh@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Put image here</h3>
            <div class="container">
              <h2>John</h2>
              <p class="title">Director</p>
              <p>Mr.John is the director of our college</p>
              <p>john@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>