<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Requirements</title>
</head>
<link rel="stylesheet" href="static/css/style3.css">

<body>
    <h3>COLLEGE REQUIREMENTS</h3>

    <h4>We request you to provide the Requirements from the students.</h4>
    <br>
    <form method=post enctype=multipart/form-data>
    <table align="center" cellpadding="20">
        <tr>
            <td>School/college name</td>
                <td><input type="text" name="ins_name" maxlength="30" />
            </td>
        </tr>

        <tr>
            <td>Minimum percentage</td>
                <td><input type="text" name="percetage" maxlength="30" />
            </td>
        </tr>

        <tr>
            <td>Number of Seats available</td>
                <td><input type="text" name="seats" maxlength="30" />
            </td>
        </tr>

        <tr>
            <td>Last Date to Apply</td>
            <td>
                <input type="text" name="last_date" maxlength="10" />
            </td>
        </tr>

        <tr>
            <td>Bank Details <br /><br /><br /></td>
            <td><textarea name="bank" rows="4" cols="30"></textarea></td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" id="sub">
                <input type="reset" value="Reset" id="sub">
            </td>
        </tr>

    </table>

    </form>

</body>

</html>