<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lo-kiB Technologies</title>
    <meta content="" name="description">
    <meta content="" name="keywords">




    <link href="../static/img/Lo-KiB Techs.png" rel="icon">
    <link href="../static/img/Lo-KiB Techs.png" rel="apple-touch-icon">


    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">


    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="/"><span>LO-kiB</span></a></h1>

            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/">About Us</a></li>
                    <li><a class="nav-link scrollto" href="/">Services</a></li>
                    <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/login">SignIn</a></li>
                            <li><a href="/signup">Sign-Up</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#footer">Contact</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <main>
        <!-- login -->
        <div id="container" class="container">
            <div class="row">


                <!-- sign up  part-->
                <section class="col align-items-center flex-col sign-in">
                    <div class="form-wrapper align-items-center">
                        <form class="form sign-in" method=post enctype=multipart/form-data>
                            <h5 style="margin-left: 80px;">Please Reset Your Password</h5>

                            <div class="input-group">
                                <i class="bx bxs-lock-alt"></i>
                                <input type="password" name="password_1" placeholder="Password" id="password"
                                    required />
                                <i class="bi bi-eye-slash eyes" id="togglePassword"></i>
                            </div>

                            <div class="input-group">
                                <i class="bx bxs-lock-alt"></i>
                                <input type="password" name="password_2" placeholder="Confirm Password" id="Cpassword"
                                    required />
                                <i class="bi bi-eye-slash eyes" id="toggleCPassword"></i>
                            </div>
                            <button class="buttons" type="submit">Reset Password</button>

                            <!--flash message section-->
                            <div class="flash_message">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <p class="flashtxt">{{ message }}</p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </form>
                    </div>
                </section>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3><b> LO-kiB</b></h3>
                        <p>
                            Lorem Ipsum <br>
                            Karnataka <br>
                            India<br><br>
                            <strong>Phone:</strong> +91 1234567890<br>
                            <strong>Email:</strong> lokib@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Lo-kiB</span></strong>. All Rights Reserved
            </div>

        </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>

</body>

</html>